html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*Width & height will be calculated by adding border + padding + content; 
  Not just content, which is the stupid default */
  box-sizing: border-box;
}

a {
  text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navigation */

nav {
  height: 50px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #70bc4e;
}

nav svg {
  height: 50px;
  width: auto;
}

/* Breadcrumb */

.breadcrumb {
  background-color: #70bc4e;
  color: white;
  padding: 1em .5em;
}

.breadcrumb > a {
  color: white;
  text-decoration: none;
}

/* Footer */

footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #70bc4e;
}

footer svg {
  width: 50px;
  height: auto;
}
